%p#notice= notice

= render :partial => "train_course" 

.btn-group
  = link_to '编辑', edit_train_course_path(@train_course), class: 'btn btn-default'
  = link_to '返回', train_courses_path, class: 'btn btn-default'
