%header.navbar-header
  %nav#utility
    %p 
      - if user_signed_in?
        %strong= "欢迎您，" + current_user.name
        = link_to '[注销]', destroy_user_session_path, method: 'delete'
      - else
        = link_to '[登录]', new_user_session_path
  %h3= link_to "湖北银监局学分管理系统", root_path
